In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sakakah,SA,2021-04-09 04:47:33,29.9697,40.2064,62.60,36,0,13.80
1,1,Punta Arenas,CL,2021-04-09 04:47:33,-53.1500,-70.9167,44.60,81,75,4.61
2,2,Nome,US,2021-04-09 04:47:33,64.5011,-165.4064,-0.40,60,1,4.61
3,3,Thompson,CA,2021-04-09 04:47:34,55.7435,-97.8558,41.00,52,40,3.44
4,4,Puerto Ayora,EC,2021-04-09 04:47:34,-0.7393,-90.3518,75.99,98,45,2.68

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

#1 Assign the locations to an array of latitude an dlongitude pairs
locations = [latitude, longitude]

#2 Assign the weights variable to some values
#emperatures = # an array of length equal to the locations array length

#3 Assign teh figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

#4 Assign the heatmap_layer variable to the heatmap_layer attributes and add to the location
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

#5 Add the heatmap later
fig.add_layer(heatmap_layer)

#6 Call the figure to plot the data
fig

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps =[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variables
fig = gmaps.figure()

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity= city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_later = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windspeed
locations = city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minumum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit into the criteria
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"] <=max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Puerto Ayora,EC,2021-04-09 04:47:34,-0.7393,-90.3518,75.99,98,45,2.68
7,7,Vaini,TO,2021-04-09 04:47:35,-21.2000,-175.2000,77.00,83,40,8.05
8,8,Avarua,CK,2021-04-09 04:47:36,-21.2078,-159.7750,77.00,94,90,3.44
10,10,Humberto De Campos,BR,2021-04-09 04:47:36,-2.5983,-43.4611,75.97,93,100,4.65
11,11,Kapaa,US,2021-04-09 04:47:37,22.0752,-159.3190,73.40,64,20,17.27
12,12,Lorengau,PG,2021-04-09 04:47:37,-2.0226,147.2712,81.09,85,100,8.97
14,14,Isangel,VU,2021-04-09 04:47:38,-19.5500,169.2667,84.20,74,75,5.75
15,15,Hambantota,LK,2021-04-09 04:47:38,6.1241,81.1185,86.00,74,2,3.44
18,18,Rikitea,PF,2021-04-09 04:47:39,-23.1203,-134.9692,77.14,66,99,6.89
24,24,Faanui,PF,2021-04-09 04:47:41,-16.4833,-151.7500,82.15,70,27,8.05

In [12]:
preferred_cities_df.count()

City_ID       207
City          207
Country       205
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [13]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df= preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng",]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
4         Puerto Ayora      EC     75.99  -0.7393  -90.3518
7                Vaini      TO     77.00 -21.2000 -175.2000
8               Avarua      CK     77.00 -21.2078 -159.7750
10  Humberto De Campos      BR     75.97  -2.5983  -43.4611
11               Kapaa      US     73.40  22.0752 -159.3190
12            Lorengau      PG     81.09  -2.0226  147.2712
14             Isangel      VU     84.20 -19.5500  169.2667
15          Hambantota      LK     86.00   6.1241   81.1185
18             Rikitea      PF     77.14 -23.1203 -134.9692
24              Faanui      PF     82.15 -16.4833 -151.7500

In [14]:
# Set the parameters to search for a hotel
params = { "radius": 5000, "type": "lodging", "key": g_key}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Puerto Ayora,EC,75.99,-0.7393,-90.3518,Finch Bay Galapagos Hotel
7,Vaini,TO,77.00,-21.2000,-175.2000,Keleti Beach Resort
8,Avarua,CK,77.00,-21.2078,-159.7750,Paradise Inn
10,Humberto De Campos,BR,75.97,-2.5983,-43.4611,Pousada do Cabeça
11,Kapaa,US,73.40,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
12,Lorengau,PG,81.09,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Isangel,VU,84.20,-19.5500,169.2667,Volcano Sea View Tree House
15,Hambantota,LK,86.00,6.1241,81.1185,Bungalow 63
18,Rikitea,PF,77.14,-23.1203,-134.9692,Pension Maro'i
24,Faanui,PF,82.15,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [24]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for tye vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ˚F</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]