## Deliverable 3. Create a Travel Itinerary Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key
from config import weather_api_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [39]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Kodiak,US,48.20,few clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
1,7,Punta Arenas,CL,48.20,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
2,9,Bredasdorp,ZA,46.40,clear sky,-34.5322,20.0403,Bredasdorp Country Manor
3,12,Jamestown,US,37.99,mist,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,19,Yellowknife,CA,42.80,scattered clouds,62.4560,-114.3525,The Explorer Hotel
5,22,Vienna,AT,43.00,scattered clouds,48.2085,16.3721,Hotel Royal
6,23,Dobryanka,RU,23.00,clear sky,58.4619,56.4165,Apartment on Zhukovskogo 19
7,27,Barrow,US,26.60,overcast clouds,71.2906,-156.7887,King Eider Inn
8,28,Raudeberg,NO,42.01,clear sky,61.9875,5.1352,Nordre Silda.
9,31,Ushuaia,AR,42.80,overcast clouds,-54.8000,-68.3000,Albatros Hotel

In [43]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt>{Max Temp} ËšF</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [45]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Philadelphia') & (vacation_df['Country']=='US')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Philadelphia') & (vacation_df['Country']=='US')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Nantucket') & (vacation_df['Country']=='US')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Port Hawkesbury') & (vacation_df['Country']=='CA')]
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Torbay') & (vacation_df['Country']=='CA')]

In [58]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,468,Philadelphia,US,50.0,overcast clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"

In [59]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
39,181,Nantucket,US,39.2,overcast clouds,41.2835,-70.0995,Jared Coffin House

In [60]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
109,441,Port Hawkesbury,CA,36.0,overcast clouds,45.6169,-61.3485,MacKenzie House Tourist Home B&B

In [61]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
25,120,Torbay,CA,33.01,light snow,47.6666,-52.7314,Gallows Cove

In [62]:
vacation_end

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
121,468,Philadelphia,US,50.0,overcast clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
newengland_tour = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                        travel_mode='DRIVING')
fig.add_layer(newengland_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,468,Philadelphia,US,50.00,overcast clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"
1,181,Nantucket,US,39.20,overcast clouds,41.2835,-70.0995,Jared Coffin House
2,441,Port Hawkesbury,CA,36.00,overcast clouds,45.6169,-61.3485,MacKenzie House Tourist Home B&B
3,120,Torbay,CA,33.01,light snow,47.6666,-52.7314,Gallows Cove
4,468,Philadelphia,US,50.00,overcast clouds,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"

In [54]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt>{Max Temp} ËšF</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [57]:
# 11a. Add a marker layer for each city to the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))